body{
    background-color: #273043;
    color: #F3EFE0;
    font-family: 'Roboto Mono', monospace;
}

h1{
    font-family: 'Press Start 2P', cursive;
}

.cuadrado{
    height: 200px;
}

#cuadrado-1{
    background-color: #F2545B;
}
#cuadrado-2{
    background-color: #7FEFBD;
}
#cuadrado-3{
    background-color: #CBA135;
}
#cuadrado-4{
    background-color: #A5C879;
}
